
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one, #two, #three, #four {
	border: solid 5px;
	margin: 5px;
	padding: 5px;
	width:25%;
	position:fixed;   
}

#one, #two{
	right:0px;
}


#three, #four{
	left:0px;
}

#two, #three{
	top:0px;
}

#one, #four{
	bottom:0px;
}

#one{
	border-color: blue;
	
}

#two{
	border-color:green;
}

#three{
	border-color:orange;
}

#four{
	border-color:yellow;
}

#link{
	text-align:center;
}

